
{% extends "base.html" %}


	{% block content %}

	<section class="banner-area relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						Register
					</h1>
					<p class="text-white link-nav"><a href="index.html">User</a>
						<span class="lnr lnr-arrow-right"></span> <a href="elements.html">
							Register</a></p>
				</div>
			</div>
		</div>
	</section>

	<br>
    <div class="row">
		<div class="col-3"></div>
        <div class="col-5">
            <div class="single-widget newsletter-widget">
                <h4 class="title">Register</h4>
                <div id="mc_embed_signup">
                    <form method="post">
                        <div class="form-group" style="width: 100%">
                            {% csrf_token %}
                            <input name="firstname" placeholder="First name" required="" type="text">
                            <input name="lastname" placeholder="Last name" required="" type="text">
                            <input name="username" placeholder="User name" required="" type="text">
                            <input name="email" placeholder="Email" required="" type="email">
                             <input name="password1" placeholder="Password" required="" type="password">
                             <input name="password2" placeholder="Confirm Password" required="" type="password">
                             <button class="primary-btn text-uppercase">
                                Register   
                            </button>
                            <br><br>
                            <h6 style="color:  rgb(97, 97, 212); text-align:center"><a href="login">Already login Account</a></h6>
                        </div>
                        
                    </form>

                    {% for message in  messages %}
                    <h3 style="color: rgb(97, 97, 212); text-align:center">{{message}}</h3>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>

	{% endblock content %}
   
	
